@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  background: linear-gradient(to right, #c7f7de, #f2f8c4);
}
