@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  background: linear-gradient(to right, #c7f7de, #f2f8c4);
}

@media screen and (max-width: 640px) {
  .mobile-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .mobile-view > div > input {
    width: 250px;
  }

  .mobile-view > div > select {
    width: 250px;
  }
}
